.footer {
  background-color: var(--dark-grey);
  color: white;
}

.footer-wrapper {
  margin-bottom: 0 !important;
}

.footer-wrapper .footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-group {
  width: 100%;
  margin-bottom: 24px;
}

.footer-wrapper p,
.footer-wrapper h5 {
  margin: 0;
}

.footer-wrapper {
  padding: 64px 0;
}

.footer-links h5 {
  margin-bottom: 16px;
}

.footer-links a {
  color: white;
}

.footer-link {
  margin-bottom: 12px;
  display: block;
}

/* fix the svg fill here */
.footer .media-icon {
  height: 20px;
  width: 20px;
  fill: white;
  margin: 0 10px;
}

.footer .footer-subfooter .logo {
  justify-content: center;
  margin: 24px 0;
}

.footer .footer-subfooter .social-media-list {
  display: flex;
  justify-content: center;
}

.footer .footer-subfooter p {
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 600px) {
  .footer-group {
    width: 50%;
  }

  .footer .footer-subfooter {
    display: flex;
    justify-content: space-between;
  }

  .footer .footer-subfooter .social-media-links {
    display: flex;
    align-items: center;
  }

  .footer .footer-subfooter p {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1000px) {
  .footer-group {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-group {
    width: 25%;
  }
}
