:root {
  --primary-blue: #5c58ff;
  --primary-red: #ff385c;
  --primary-red-light: #ffdbe2;
  --grey: #c9c9c9;
  --light-grey: #ebebeb;
  --dark-grey: #222;
  --helper-grey: #5e5e5e;
  --light-purple: #e8e8ff;

  --bp-600: 600px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  position: relative;
}

.block-scrolling {
  height: 100%;
  overflow: hidden;
}

.margin-t-32 {
  margin: 32px 0;
}

.margin-t-40 {
  margin: 80px 0;
}
