.new-projects .project-title {
  margin-bottom: 24px;
}

.new-projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* try using the listing styling here, looks pretty much the same */
.new-projects-wrapper .project {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 24px;
  cursor: pointer;

  width: 100%;
}

.new-projects-wrapper .project:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.new-projects-wrapper .project-header {
  height: 200px;

  background-image: url("../images/officeInterior.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.new-projects-wrapper .project-header .label {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: var(--dark-grey);
  color: white;
  padding: 4px 8px;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.new-projects-wrapper .project-details {
  padding: 20px 24px;

  border: solid 1px var(--grey);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media screen and (min-width: 600px) {
  .new-projects-wrapper .project {
    width: calc(50% - 12px);
  }
}

@media screen and (min-width: 1000px) {
  .new-projects-wrapper .project {
    width: calc(33% - 12px);
  }
}

@media screen and (min-width: 1200px) {
  .new-projects-wrapper .project {
    width: calc(25% - 12px);
  }
}
