.promo-box {
  border-radius: 16px;
  padding: 16px;
  background-color: white;

  margin-bottom: 24px;
}

.promo-box.call-to-action {
  border: solid 1px var(--grey);
}

.promo-box h3 {
  margin: 16px 0;
  text-align: center;
}

.promo-box .icon-holder {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--light-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-box.call-to-action .icon-holder {
  background-color: var(--primary-red-light);
}

.promo-box p {
  text-align: center;
}

.promo-box .icon-holder img {
  height: 50%;
  width: 50%;
}
