.promo-box {
  /* border: solid 2px red; */
  border-radius: 16px;
  padding: 16px;
  background-color: white;

  margin-bottom: 24px;
}

.promo-box.call-to-action {
  border: solid 1px #c9c9c9;
}

.promo-box h3 {
  margin: 16px 0;
  text-align: center;
}

.promo-box .icon-holder {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #e8e8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-box p {
  text-align: center;
}

.promo-box .icon-holder img {
  height: 50%;
  width: 50%;
}
