.text-input {
  outline: none;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: solid 1px var(--grey);
  height: 100%;
}

.input-w-image {
  position: relative;
}

.input-w-image .input-icon {
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: var(--primary-red);
  border-radius: 8px;

  right: 5px;
  top: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-search {
  height: 45px;
}

.input-w-image .input-icon svg {
  height: 60%;
  width: 60%;
}

.input-w-image .text-input {
  width: 100%;
  padding-right: 50px;
}
